/* Variables */
/*font-family: 
'Advent Pro', sans-serif;
'Architects Daughter', cursive;
'Big Shoulders Stencil Text', cursive;
'East Sea Dokdo', cursive;
'Monoton', cursive;
'Odibee Sans', cursive;
'Orbitron', sans-serif;
'Permanent Marker', cursive;
'Rajdhani', sans-serif;
'Roboto', sans-serif;
'Roboto Condensed', sans-serif;
'Roboto Mono', monospace;
'Source Code Pro', monospace;
'Space Mono', monospace;*/
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

section {
  padding: 55px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 18px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  background-color: transparent;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-one {
  border-color: #fed136;
  color: #fed136;
  background-image: linear-gradient(90deg, transparent 50%, transparent 50%);
}

.btn-one:hover {
  background-position: 0 100%;
  background-color: #fed136;
  color: #ffffff;
}

.section-title h1 {
  font-size: 42px;
  margin: 0 0;
  font-family: "Roboto Condensed", sans-serif;
}

.section-title p {
  font-size: 18px;
  margin: 0 0 50px 0;
  font-family: "Roboto", sans-serif;
  color: #777777;
  text-align: justify;
}

.section-subtitle {
  font-size: 24px;
  margin: 20px 0 12px 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  color: #ffffff;
  background-image: url("../images/splash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

@media (max-width: 767px) {
  .splash-inner {
    max-width: 100%;
  }
}

.page-title {
  margin: 140px 0 0 0;
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.page-subtitle {
  margin: 0;
  font-size: 72px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

/* Logo */
/*.splash ul::before {
    content: "Golden";
    position: absolute;
    font-size: 60px;
    font-family: $font-logo;
    line-height: 2.5;
    top: -5px;
    left: 150px;
    color: $color-five;
    z-index: 1;
}*/
.splash .logo a {
  content: "Golden";
  position: absolute;
  font-size: 60px;
  font-family: "Monoton", cursive;
  line-height: 2.5;
  top: -5px;
  left: 150px;
  color: #fed136;
  z-index: 1;
  text-decoration: none;
}

/* Navigation */
.navigation ul {
  padding: 50px 25px 0 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
}

.navigation li {
  display: inline-block;
  margin: 10px 5px 0 0;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
}

.navigation a:hover {
  background: #fed136;
  border-radius: 20px;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  color: #fed136;
}

/* Our services */
.our-services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.our-services .services {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  position: relative;
  text-align: center;
}

.services i {
  font-size: 35px;
  background: #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #fed136;
  line-height: 2.0;
  border-color: #fed136;
  border-width: 3px;
  border-style: solid;
}

.services p {
  color: #777777;
  margin: 25px;
  text-align: justify;
}

/* Our portfolio */
.our-portfolio {
  background: #f7f7f7;
}

.our-portfolio-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  height: 100%;
}

.our-portfolio-wrapper .portfolio {
  -ms-flex: 0 0 30%;
      flex: 0 0 30%;
  min-height: 300px;
  margin: 20px 0 0 0;
  -ms-flex-direction: column;
      flex-direction: column;
  background: #ffffff;
}

.portfolio img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 342px;
}

.portfolio p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

.our-portfolio-wrapper .portfolio:hover {
  transform: scale(1.2);
  transition: 2s;
}

/* Contact */
.contact {
  background: #f7f7f7;
}

.contact .section-subtitle {
  font-size: 24px;
  margin: 50px 0 12px 0;
  font-family: "Monoton", cursive;
  text-align: center;
}

.contact p {
  text-align: center;
}

/* Footer */
footer {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 0;
  background: #f7f7f7;
}

footer .page-footer {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 5px 0;
}

footer .page-footer p {
  font-family: "Roboto Condensed", sans-serif;
  color: #777777;
  margin: 16px 175px 0px 175px;
}

footer .page-footer a {
  text-decoration: none;
}

footer .page-footer i {
  font-size: 20px;
  background: #222222;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  line-height: 2.0;
  position: relative;
}

footer .page-footer i:hover {
  transform: scale(1.2);
  transition: 1s;
}

/* Go top icon */
.go-top-icon i {
  position: fixed;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.1);
  bottom: 80px;
  right: 15px;
  text-align: center;
  line-height: 35px;
  color: #fed136;
  border-radius: 50%;
}

/* Media */
@media (max-width: 767px) {
  section {
    padding: 55px 0 20px 0;
  }
  .btn {
    margin: 20px auto 0 auto;
  }
  .splash .logo a {
    font-size: 50px;
    top: -10px;
    left: 95px;
  }
  /*.navigation a {
        padding: 0px;
    }

    .navigation a:hover {
        background: transparent;
        text-decoration: none;
        border-style: none;
        background-color: transparent;
        color: $color-five;
        font-size: 18px;
    }*/
  .page-title {
    margin: 30px 0 0 0;
    font-size: 20px;
    padding: 300px 0 0 0;
  }
  .page-subtitle {
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  .our-services .services {
    -ms-flex: auto;
        flex: auto;
  }
  .services p {
    margin: 0 0 50px 0;
  }
  .our-portfolio-wrapper .portfolio {
    -ms-flex: auto;
        flex: auto;
  }
  .our-portfolio-wrapper .portfolio:hover {
    transform: scale(1);
    transition: 1s;
  }
  footer {
    transform: translateX(0%);
  }
  footer .page-footer p {
    transform: translateX(0%);
    margin: 16px 80px 0px 80px;
  }
  /* Navigation */
  .icon-1, .icon-2, .icon-3 {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: #fed136;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  }
  .icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
  }
  .icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
  }
  .nav-media-icon {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 3%;
    right: 5%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  .nav-media-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  .icon-1.a {
    transform: rotate(40deg);
  }
  .icon-3.b {
    transform: rotate(-40deg);
  }
  .icon-2.c {
    opacity: 0;
  }
  .clear {
    clear: both;
  }
  @keyframes slideIn {
    0% {
      width: 0%;
      transform: scale(0.3);
      opacity: 0;
    }
    100% {
      width: 50%;
      transform: scale(1);
      opacity: 1;
    }
  }
  .navigation.nav-media {
    background: #D4D9DB;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
  }
  .navigation.nav-media ul {
    margin: 0;
    position: absolute;
    top: 20%;
    right: 18%;
    padding: 0px 60px;
    text-align: justify;
  }
  .navigation.nav-media ul li {
    list-style: none;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .navigation.nav-media ul li a {
    text-decoration: none;
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0px;
    font-weight: bold;
  }
  .navigation.nav-media ul li a:hover {
    background: transparent;
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    color: #000;
  }
  .navigation.nav-media.show {
    width: 50%;
    opacity: 1;
  }
  .dark-color {
    position: absolute;
    top: 0;
    right: 0;
    background: #D4D9DB;
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
  }
  .dark-color.slide {
    width: 100%;
    opacity: 1;
  }
  @keyframes shotup {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    90% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  section {
    padding: 55px 0 20px 0;
  }
  .btn {
    margin: 20px auto 0 auto;
  }
  .splash .logo a {
    font-size: 50px;
    top: -10px;
    left: 35px;
  }
  .navigation ul {
    padding: 100px 90px 0px 90px;
    margin: 0;
    text-align: center;
  }
  .page-title {
    margin: 0px;
    font-size: 20px;
    padding: 250px 0 0 0;
  }
  .page-subtitle {
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  .our-services .services {
    -ms-flex: auto;
        flex: auto;
  }
  .services p {
    margin: 0 0 50px 0;
  }
  .our-portfolio-wrapper .portfolio {
    -ms-flex: auto;
        flex: auto;
  }
  footer .page-footer p {
    transform: translateX(0%);
    margin: 16px 80px;
  }
}
/*# sourceMappingURL=style.css.map */